<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="{{cdn '/assets/modernizr-custom.js'}}"></script>

        {{{head.scripts}}}
        <!-- {{{head.rsslinks}}} -->

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
              var trigger = $('.hamburger'),
                    isClosed = false;

                function hamburger_cross() {
                    if (isClosed == true) {
                        trigger.removeClass('is-open');
                        trigger.addClass('is-closed');
                        isClosed = false;
                    } else {
                        trigger.removeClass('is-closed');
                        trigger.addClass('is-open');
                        isClosed = true;
                    }
                }

                $('[data-toggle="burgerToggle"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
                    hamburger_cross();
                });
                $('[data-toggle="contentToggle"]').click(function () {
                    if(isClosed) {
                        $('#wrapper').toggleClass('toggled');
                        hamburger_cross();
                    }
                });
                var accordionsMenu = $('.cd-accordion-menu');

                if( accordionsMenu.length > 0 ) {
                    accordionsMenu.each(function(){
                        var accordion = $(this);
                        accordion.on('change', 'input[type="checkbox"]', function(){
                            var checkbox = $(this);
                            console.log(checkbox.prop('checked'));
                            ( checkbox.prop('checked') ) ? checkbox.siblings('ul').attr('style', 'display:none;').slideDown(300) : checkbox.siblings('ul').attr('style', 'display:block;').slideUp(300);
                        });
                    });
                }
            });
          </script>
        <div id="wrapper">
            <div class="navbar" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav cd-accordion-menu animated">
                    <li class="has-children" id="brand-group">
                        <input type="checkbox" name ="Brands" id="brands">
                        <label for="brands">DESIGNERS</label>
                        <ul>
                            {{#each shop_by_brand}}
                            <li>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{#each categories}}
                        <li>
                            {{> components/common/navigation-list}}
                        </li>
                    {{/each}}
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="burgerToggle">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div id="content-wrapper" data-toggle="contentToggle">
                {{{snippet 'header'}}}
                <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

                {{#if settings.privacy_cookie}}
                    {{> components/common/cookie}}
                {{/if}}

                {{> components/common/header }}
                {{> components/common/body }}
                {{> components/common/footer }}
            </div>
        </div>
        <script src="{{cdn '/assets/js/bundle.js'}}"></script>
        <script>
            // Exported in app.js
            window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
</html>
