<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="{{cdn '/assets/modernizr-custom.js'}}"></script>

        {{{head.scripts}}}
        <!-- {{{head.rsslinks}}} -->

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
              var trigger = $('.hamburger'),
                  overlay = $('.overlay'),
                  isClosed = false;

                trigger.click(function () {
                  hamburger_cross();
                });

                function hamburger_cross() {
                  if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    $('body').css('overflow', 'auto');
                    isClosed = false;
                  } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                     $('body').css('overflow', 'hidden');
                    isClosed = true;
                  }
              }
              
              $('[data-toggle="offcanvas"]').click(function () {
                  $('#wrapper').toggleClass('toggled');
              });
            });
          </script>
        <div id="wrapper">
            <div class="navbar" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li>
                        <a class="navList-action" href="{{urls.brands}}">{{lang 'brand.label'}}</a>
                    </li>
                    {{#each categories}}
                        <li>
                            {{> components/common/navigation-list}}
                        </li>
                    {{/each}}
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="overlay"></div>
                {{{snippet 'header'}}}
                <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

                {{#if settings.privacy_cookie}}
                    {{> components/common/cookie}}
                {{/if}}

                {{> components/common/header }}
                {{> components/common/body }}
                {{> components/common/footer }}
            </div>
        </div>
        <script src="{{cdn '/assets/js/bundle.js'}}"></script>
        <script>
            // Exported in app.js
            window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
</html>
